<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>ScanNupload</title>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<section class="wrapper">
	<div >
		<form action="{{url_for('edit_results')}}" method="post" class="form-control">
			<input type="text" name="image_path" value='{{content[1]}}' hidden><br><br>
			<textarea name="text"rows="20" cols="50">{{content[0]}}</textarea>
			<input type="submit" class ="btn btn-warning">
			<a href="{{url_for('index')}}"><button type='submit' class="btn btn-info">return to homepage</button></a> 
		</form>
	</div></br>
	
		
</section>






<script src="static/js/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="static/js/bootstrap.min.js" type="text/javascript"></script> 


<script type="text/javascript">

$('input[type=file]').change(function () {
console.log("file changed event");
var filePath = $(this).val();
console.log("filepath---->"+filePath);
//alert($('input[type=file]').val());
});

$(document).ready( function() {
    	
		function readURL(input) {
			 
		    if (input.files && input.files[0]) {
		        var reader = new FileReader();
		        
		        reader.onload = function (e) {
		            $('#img-upload').attr('src', e.target.result);
		        }
		        
		        reader.readAsDataURL(input.files[0]);
		    }
		}

		$("#imgInp").change(function(){
			

		 readURL(this);
		 
		}); 
	});


</script>

</body>
</html> 


